{% extends "layouts/base.html" %}

{% load i18n %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h2 class="text-center mb-4">{% trans "Heróis Atuais Olimpíada" %}</h2>

    {% if current_heroes %}
    <div class="table-responsive-md">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>{% trans "Jogador" %}</th>
            <th class="d-none d-md-table-cell">{% trans "Clan" %}</th>
            <th class="d-none d-md-table-cell">{% trans "Aliança" %}</th>
            <th>{% trans "Classe" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for hero in current_heroes %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ hero.char_name|default:"-" }}</td>
            <td class="d-none d-md-table-cell">{{ hero.clan_name|default:"-" }}</td>
            <td class="d-none d-md-table-cell">{{ hero.ally_name|default:"-" }}</td>
            <td>{{ hero.base }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="alert alert-warning text-center">
      {% trans "Nenhum dado encontrado." %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
