# True for development, False for production
DEBUG=True
SEND_EMAIL_DEGUB=True
SECRET_KEY='key_32_bytes'

DB_ENGINE=postgresql
DB_HOST=postgres
DB_NAME=db_name
DB_USERNAME=db_user
DB_PASS=db_pass
DB_PORT=5432

CONFIG_EMAIL_ENABLE=True
CONFIG_EMAIL_USE_TLS=True
CONFIG_EMAIL_HOST=smtp.domain.com
CONFIG_EMAIL_HOST_USER=mail@mail.dev.br
CONFIG_DEFAULT_FROM_EMAIL=mail@mail.dev.br
CONFIG_EMAIL_HOST_PASSWORD=password
CONFIG_EMAIL_PORT=587

CONFIG_AUDITOR_MIDDLEWARE_ENABLE = True
CONFIG_AUDITOR_MIDDLEWARE_RESTRICT_PATHS = ["/admin/", "/app/"]

DJANGO_CACHE_REDIS_URI=redis://redis_container_name:6379/0

RENDER_EXTERNAL_HOSTNAME=domain.com
RENDER_EXTERNAL_FRONTEND=domain.com

CELERY_BROKER_URI=redis://redis:6379/1
CELERY_BACKEND_URI=redis://redis:6379/1

CHANNELS_BACKEND=redis://redis:6379/2

ENCRYPTION_KEY = 'key_32_bytes'
DATA_UPLOAD_MAX_MEMORY_SIZE = 10485760
SERVE_DECRYPTED_FILE_URL_BASE = 'decrypted-file'
