django
python-dotenv
str2bool

django-admin-volt
django-cors-headers
django-redis
django_ratelimit
django-import-export
django-encrypted-fields-and-files
django-auditlog

whitenoise
gunicorn

psycopg2-binary
redis

cryptography
pillow
tablib
diff_match_patch
python-ipware
