{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% include 'includes/head.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Base CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'default/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/media.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/font.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <style>
        body {
            background: url({% static 'default/images/bg/5.jpg' %}) top fixed no-repeat;
            background-position-y: 80px;
            background-color: black;
            min-height: 100vh;
            position: relative;
        }

        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 0;
        }

        .main-content {
            position: relative;
            z-index: 1;
        }

        nav {
            position: relative;
            z-index: 2;
        }

        footer {
            position: relative;
            z-index: 2;
        }
    </style>

    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <!-- Loading Screen -->
    <div class="loading">
      <div class="l-logo">
        <div class="letters">
          {% if site_logo %}
            <img src="{{ site_logo.image.url }}" alt="{{ site_logo.name }}">
          {% else %}
            <img src="{% static 'default/images/logo.png' %}" alt="{% trans 'Lineage2 Logo' %}">
          {% endif %}
        </div>
        <div class="circle"><img src="{% static 'default/images/logo-circle.png' %}"></div>
      </div>
    </div>

    {% block video_background %}{% endblock %}

    <!-- Navigation -->
    <nav>
      <div class="open"><i class="fa-solid fa-bars"></i></div>

      <ul>
        <div class="close"><i class="fa-solid fa-xmark"></i></div>

        <span><img src="{% static 'default/images/icons/nav-icon.png' %}"></span>

        <li class="active"><a href="{% url 'index' %}">{% trans "Main" %}</a></li>
        <li><a href="{% url 'wiki' %}">{% trans "Wiki" %}</a></li>
        <li><a href="#">{% trans "Store" %}</a></li>
        <li><a href="{{ PROJECT_DISCORD_URL }}" target="_blank">{% trans "Discord" %}</a></li>
      </ul>

      <div>
        {% if request.user.is_authenticated %}
          <a class="user" href="{% url 'dashboard' %}" target="_blank">
            <img src="{% static 'default/images/icons/user.png' %}">
            <span>{% trans "My Account" %}</span>
          </a>
        {% else %}
          <a class="user" href="{% url 'login' %}" target="_blank">
            <img src="{% static 'default/images/icons/user.png' %}">
            <span>{% trans "My Account" %}</span>
          </a>
        {% endif %}
        <a class="download" href="#" target="_blank">{% trans "Download" %}</a>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
      {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
      <div class="language">
        <span>
          <span>
            <img src="{% static 'default/images/icons/world.png' %}">&nbsp;&nbsp;&nbsp;
            {% if LANGUAGE_CODE == 'pt' %}Português
            {% elif LANGUAGE_CODE == 'en' %}English
            {% elif LANGUAGE_CODE == 'es' %}Español
            {% endif %}
          </span>
          <span><img class="cursor" src="{% static 'default/images/icons/downcursor.png' %}"></span>
        </span>

        <ul class="language-dropdown">
          <li><a href="{% url 'set_language' %}?language=es&next={{ request.path }}">Español</a></li>
          <li><a href="{% url 'set_language' %}?language=pt&next={{ request.path }}">Português</a></li>
          <li><a href="{% url 'set_language' %}?language=en&next={{ request.path }}">English</a></li>
        </ul>
      </div>

      <div class="copyright container">
        <div class="c-link">
          <a href="#" target="_blank">{% trans "User Agreement" %}</a>
          <a href="#" target="_blank">{% trans "Terms of Service" %}</a>
          <a href="#" target="_blank">{% trans "Privacy Policy" %}</a>
        </div>

        <div class="c-text">
          {% if site_logo %}
            <img src="{{ site_logo.image.url }}" alt="{{ site_logo.name }}">
          {% else %}
            <img src="{% static 'default/images/logo.png' %}" alt="{% trans 'Lineage2 Logo' %}">
          {% endif %}
          <p>© {% now "Y" %} {{ PROJECT_TITLE }}</p>
          <span>{% trans "Lineage 2 public test server. These servers are an emulator of the Lineage 2 Game. The use of the service is for information purposes only. You can familiarize yourself with the original version of the game Lineage 2 on the official servers of NC Soft." %}</span>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    {% include 'includes/scripts.html' %}
    <script src="{% static 'public/js/layout.js' %}"></script>
    <script src="{% static 'default/js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'default/js/main.js' %}"></script>
    {% block extrascripts %}{% endblock %}
  </body>
</html>
