<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    {% include 'includes/head.html' %}
    <link type="text/css" href="{% static 'css/public.css' %}" rel="stylesheet">
  </head>
  <body>

    <nav class="custom-navbar">
      <div class="custom-container">
        <a href="{% url 'index' %}" class="custom-brand">
          <img src="{% static 'assets/img/l2_logo.png' %}" height="60" alt="Lineage2 Logo">
        </a>
        <button class="custom-toggle" onclick="toggleMenu()">
          &#9776;
        </button>
        <div class="custom-menu" id="customMenu">
          <button class="custom-close" onclick="toggleMenu()">
            &times;
          </button>
          <ul>
            <li><a href="#features" onclick="closeMenu()">Sobre</a></li>
            <li><a href="#download" onclick="closeMenu()">Download</a></li>
            <li><a href="#comunidade" onclick="closeMenu()">Comunidade</a></li>
            <li><a href="{% url 'public_news_list' %}" onclick="closeMenu()">Notícias</a></li>
            <li><a href="{% url 'public_faq_list' %}" onclick="closeMenu()">FAQ</a></li>
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'dashboard' %}" onclick="closeMenu()">Painel</a></li>
              <li><a href="{% url 'logout' %}" onclick="closeMenu()">Sair</a></li>
            {% else %}
              <li><a href="{% url 'login' %}" onclick="closeMenu()">Login</a></li>
            {% endif %}
            <li><a href="{% url 'register' %}" class="custom-btn" onclick="closeMenu()">Criar Conta</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Conteúdo principal -->
    {% block content %}{% endblock %}

    <!-- Rodapé -->
    <footer>
      <div class="container">
        <p id="footer-year"></p>
      </div>
    </footer>

    {% include 'includes/scripts.html' %}
    <script src="{% static 'assets/js/public.js' %}"></script>
  </body>
</html>
