{% extends 'wiki/base.html' %}
{% load static i18n %}

{% block title %}{{ page.translation.title }}{% endblock %}

{% block wiki_content %}
<div class="wiki-page">
    <h1>{{ page.translation.title }}</h1>
    
    {% for section in sections %}
    <div class="wiki-section">
        <h2>{{ section.translation.title }}</h2>
        {{ section.translation.content|safe }}
    </div>
    {% empty %}
    <div class="col-12">
        <p class="text-center">{% trans "Nenhuma seção encontrada." %}</p>
    </div>
    {% endfor %}
</div>
{% endblock %} 