{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container py-4">
    <h1 class="mb-4">{{ title }}</h1>
    
    <div class="row">
        {% for general in generals %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% with pt_translation=general.translations.all|first %}
                                {{ pt_translation.title }}
                            {% endwith %}
                        </h5>
                        <p class="card-text text-muted">
                            {{ general.get_general_type_display }}
                        </p>
                        <a href="{% url 'wiki:general_detail' general.pk %}" class="btn btn-primary">
                            {% trans "Read More" %}
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="text-center">{% trans "No general information available." %}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 