{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>Lineage 2</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Lineage">
<meta name="author" content="Lineage">
<meta name="description" content="">
<meta name="keywords" content="" />
<link rel="canonical" href="#">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="#">
<meta property="og:title" content="Lineage">
<meta property="og:description" content="">
<meta property="og:image" content="{% static 'assets/img/l2_logo.png' %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="#">
<meta property="twitter:title" content="Lineage">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="{% static 'assets/img/l2_logo.png' %}">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/ico.jpg' %}">
<link rel="icon" type="image/jpg" sizes="32x32" href="{% static 'assets/img/ico.jpg' %}">
<link rel="icon" type="image/jpg" sizes="16x16" href="{% static 'assets/img/ico.jpg' %}">
<link rel="manifest" href="{% static 'assets/img/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'assets/img/ico.jpg' %}" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Sweet Alert -->
<link type="text/css" href="{% static 'vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static 'vendor/notyf/notyf.min.css' %}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static 'css/volt.css' %}" rel="stylesheet">

