{% extends 'wiki/base.html' %}
{% load static i18n %}

{% block wiki_content %}
<div class="wiki-page">
    <h1>{% trans "Raid Bosses Guide" %}</h1>
    
    <div class="wiki-section">
        <h2>{% trans "Raid Bosses" %}</h2>
        <div class="wiki-raids">
            {% for item in raids %}
            <div class="wiki-raid">
                <h3>{{ item.translation.title }}</h3>
                <div class="wiki-raid-info">
                    <div class="wiki-raid-details">
                        <h4>{% trans "Location" %}</h4>
                        <p>{{ item.translation.location }}</p>
                        
                        <h4>{% trans "Level" %}</h4>
                        <p>{{ item.translation.level }}</p>
                        
                        <h4>{% trans "Respawn Time" %}</h4>
                        <p>{{ item.translation.respawn_time }}</p>
                    </div>
                    
                    <div class="wiki-raid-strategy">
                        <h4>{% trans "Strategy" %}</h4>
                        {{ item.translation.strategy|safe }}
                    </div>
                    
                    <div class="wiki-raid-rewards">
                        <h4>{% trans "Rewards" %}</h4>
                        {{ item.translation.rewards|safe }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="wiki-section">
        <h2>{% trans "Raid Participation" %}</h2>
        <div class="wiki-raid-participation">
            <div class="wiki-raid-requirements">
                <h3>{% trans "Requirements" %}</h3>
                <ul>
                    <li>{% trans "Minimum level requirement" %}</li>
                    <li>{% trans "Proper equipment" %}</li>
                    <li>{% trans "Party composition" %}</li>
                    <li>{% trans "Buff preparation" %}</li>
                </ul>
            </div>
            
            <div class="wiki-raid-tips">
                <h3>{% trans "Tips" %}</h3>
                <ul>
                    <li>{% trans "Coordinate with party members" %}</li>
                    <li>{% trans "Use proper buffs" %}</li>
                    <li>{% trans "Follow raid leader" %}</li>
                    <li>{% trans "Be prepared for respawn" %}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="wiki-section">
        <h2>{% trans "Raid Schedule" %}</h2>
        <div class="wiki-raid-schedule">
            {% for item in schedules %}
            <div class="wiki-schedule-item">
                <h3>{{ item.translation.title }}</h3>
                <div class="wiki-schedule-details">
                    {{ item.translation.content|safe }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} 