{% extends "layouts/base.html" %}
{% load lineage_extras %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h2 class="text-center mb-4">Top Tempo Online</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Personagem</th>
          <th>PvP</th>
          <th>PK</th>
          <th>Tempo Online</th>
          <th>Clan</th>
        </tr>
      </thead>
      <tbody>
        {% for player in ranking %}
        <tr>
          <td>{{ player.char_name }}</td>
          <td>{{ player.pvpkills }}</td>
          <td>{{ player.pkkills }}</td>
          <td>{{ player.onlinetime|humanize_time }}</td>
          <td>{{ player.clan_name|default:"-" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
