{% extends "layouts/base.html" %}
{% load lineage_extras %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h2 class="text-center mb-4">{% trans "Ranking Clans" %}</h2>

    {% if clans %}
    <div class="table-responsive-md">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>{% trans "Clan" %}</th>
            <th class="d-none d-md-table-cell">{% trans "Ally" %}</th>
            <th class="d-none d-md-table-cell">{% trans "Líder" %}</th>
            <th class="d-none d-md-table-cell">{% trans "Nível" %}</th>
            <th>{% trans "Reputação" %}</th>
            <th>{% trans "Membros" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for clan in clans %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ clan.clan_name|default:"-" }}</td>
            <td class="d-none d-md-table-cell">{{ clan.ally_name|default:"-" }}</td>
            <td class="d-none d-md-table-cell">{{ clan.char_name|default:"-" }}</td>
            <td class="d-none d-md-table-cell">{{ clan.clan_level }}</td>
            <td>{{ clan.reputation_score }}</td>
            <td>{{ clan.membros }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="alert alert-warning text-center">
      {% trans "Nenhum dado encontrado." %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
